.header-title {
  align-items: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.content-left {
  width: 500px;
}
.content {
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
}
.content-right {
  border: 3px solid rgb(171, 242, 171);
  width: 500px;
  height: 700px;
  padding: 10px;
  font-size: 14px;
  overflow-y: scroll;
}
